.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #185EF6;
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}
